<app-layout-card>
  <app-layout-card-header>
    <a (click)="locationBack()"><fa-icon [icon]="faArrowLeft"></fa-icon></a>
    Questions
  </app-layout-card-header>
  <app-layout-card-body>
    <form class="form-inline align-items-start">
      <div class="form-group">
        <input [(ngModel)]="filterBox" name="filterBox" placeholder="Filter by category" class="form-control" />
      </div>
      <button class="btn btn-dark ml-1" routerLink="new">
        New <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </form>
  </app-layout-card-body>
</app-layout-card>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Question</th>
        <th>Category</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions | filter: filterBox">
        <td><a routerLink="detail/{{question.pk}}">{{question.question}}</a></td>
        <td><span *ngFor="let cat of question.categories; let last=last ">
            {{cat.category}} {{last ? '': '| '}}</span>
        </td>
        <td><a><fa-icon [icon]=faTrash (click)="deleteQuestion(question)"></fa-icon></a></td>
      </tr>
    </tbody>
  </table>
</div>